{{#extends 'base'}}

{{#block "content"}}
<h3>Updating wine product:</h3>
<form method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
    {{{form}}}
    <div>
        <img src="{{product.image_url}}" width="300px" id="uploaded_product_image"/>
        <a href="#" class="btn btn-secondary my-3" id="upload_widget">Upload Image</a>
        <input type="submit" class="btn btn-secondary" />
    </div>
</form>
{{/block}}

{{#block 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"
    integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>

<script>
    async function generateSignature(callback, params_to_sign) {
        let response = await axios.get('/cloudinary/sign', {
            params: {
                params_to_sign
            }
        });
        callback(response.data)
    }
    const config = {
        cloudName: '{{cloudinaryName}}',
        apiKey: '{{cloudinaryApiKey}}',
        uploadPreset: '{{cloudinaryPreset}}',
        uploadSignature: generateSignature
    }
    const myWidget = cloudinary.createUploadWidget(config, (error, result) => {
        if (error) {
            console.log(error);
        };
        if (!error && result && result.event === 'success') {
            console.log(result);
            document.querySelector('#id_image_url').value = result.info.url;
            document.querySelector("#uploaded_product_image").src = result.info.url;
            document.querySelector("#uploaded_product_image").style.display = 'inline';
            document.querySelector("#uploaded_product_image").style.height = '300px';
            document.querySelector("#uploaded_product_image").style.width = '300px';
            document.querySelector("#uploaded_product_image").style.objectFit = 'cover';
        }
    })
    document.querySelector("#upload_widget").addEventListener('click', function () {
        myWidget.open();
    })
</script>
{{/block}}

{{/extends}}