{{#extends 'base'}}

{{#block "content"}}
<h1>Producer</h1>
<a role="button" class="btn btn-secondary" href="/product-information/producer/create">Add New</a>
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each producer}}
    <tr>
      <td>{{this.id}}</td>
      <td>{{this.name}}</td>
      <td>{{this.description}}</td>
      <td>
        <a class="btn btn-secondary btn-sm m-1" href="/product-information/producer/{{this.id}}/update">Update</a>
        <a class="btn btn-danger btn-sm m-1" href="/product-information/producer/{{this.id}}/delete">Delete</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{/block}}

{{/extends}}